<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col col-lg-9 col-xl-9">
        <div class="card rounded-3">
          <div class="card-body p-4">
              <div class="container">
                  <h4 class="text-center my-3 pb-3">Formulario para Renovacion</h4>
                  <div class="mb-3">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="rut" class="form-label">Rut</label>
                      </div>
                      <div class="col-10">
                        <input type="form" class="form-control" id="rut" placeholder="10.234.123-k">
                      </div>
                    </div>
                  </div> 
                  <div class="mb-3">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="nombres" class="form-label">Nombres</label>
                      </div>
                      <div class="col-10">
                        <input type="nombres" class="form-control" id="nombre" placeholder="Nombres">
                      </div>
                    </div>
                  </div>  
                  <div class="mb-3">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="apellidos" class="form-label">Apellidos</label>
                      </div>
                      <div class="col-10">
                        <input type="apellidos" class="form-control" id="apellidos" placeholder="Apellidos">
                      </div>
                    </div>
                  </div>  
                  <div class="mb-3">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="fecha" class="form-label">Fecha de caducidad</label>
                      </div>
                      <div class="col-auto">
                        <input type="date" class="form-date" id="fechaDeCaducidad">
                      </div>
                    </div>
                  </div>  
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">                
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Retroceder</button>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success">Reservar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>